@font-face {
  font-family: "Beckan-Personal-Use";
  src: url(../../public/fonts/Beckan-Personal-Use.otf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  font-family: Neue Haas Grotesk, sans-serif;
}

.tw-secondary-title {
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: #fff;
}

.menu {
  width: 50px;
  cursor: pointer;
  transition: 0.5s ease-out;
}

.line-1,
.line-2,
.line-3 {
  width: 50px;
  height: 5px;
  background-color: #000;
  margin: 3px 0px;
  transition: 0.5s ease-out;
}

.change .line-1 {
  position: absolute;
  transform: rotate(-45deg) translate(-3px, 2px);
}

.change .line-2 {
  position: absolute;
  opacity: 0;
}

.change .line-3 {
  position: absolute;
  transform: rotate(45deg) translate(-6px, -7px);
}

.main-image {
  filter: grayscale(100%);
  -webkit-mask-image: linear-gradient(
    to top,
    transparent 0%,
    rgba(0, 0, 0, 1) 7%
  );
  mask-image: linear-gradient(to top, transparent 0%, rgba(0, 0, 0, 1) 7%);
}

.videos-slider {
  margin: auto;
  width: 90%;
  height: 100%;
  display: grid;
  place-items: center;
  position: relative;
}

.videos-slider-track {
  display: flex;
  gap: 20px;
  width: calc(250px * 18);
  animation: scroll 80s linear infinite;
}

.videos-slider-track:hover {
  animation-play-state: paused;
}

.video {
  width: 250px;
  height: 400px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 9));
  }
}
